.row-reach-point {
    border: 1px solid #999;
    padding: .5rem;
    border-bottom: none;
}

.row-reach-point:last-child {
    border-bottom: 1px solid #999;
}

.category-input {
    border: none;
    background-color: #eee;
}

.reach-point-name {
    white-space: nowrap;
    overflow-x: scroll;
}