<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="backSystem/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>
<!--导航-->
<nav th:replace="backSystem/_fragments :: menu(3)" ></nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <!--表单-->
        <div id="table-container">
            <table th:fragment="discussList" class="ui compact teal table">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="discuss,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${discuss.title}"></td>
                    <td>
                        <a href="#" th:href="@{/admin/discussManage/{id}(id=${discuss.id})}" target="_blank" class="ui mini blue button">查看</a>
                        <a href="#" th:href="@{/system/discussManage/{id}/delete(id=${discuss.id})}" class="ui mini red button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui right floated pagination menu" th:if="${page.totalPages}>1">
                            <a onclick="page(this)" th:attr="data-page=${page.number}-1" class="item" th:unless="${page.first}">上一页</a>
                            <a onclick="page(this)" th:attr="data-page=${page.number}+1" class="item" th:unless="${page.last}">下一页</a>
                        </div>
                        <!--                            <a class="ui mini teal basic button">新增</a>-->
                    </th>
                </tr>
                </tfoot>
            </table>
            <!--消息提示-->
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示：</div>
                <p th:text="${message}">恭喜，操作成功！</p>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //消息提示关闭初始化
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    $('#clear-btn').on('click', function () {
        $('.ui.type.dropdown').dropdown('clear');
    });

    function page(obj) {
        $("[name='page']").val($(obj).data("page"));
        loaddata();
    }

</script>

</body>
</html>
