<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>讨论区</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(6)"></nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
  <div class="ui container">
    <!--左边列表-->
    <div class="eleven wide column">
      <!--header-->
      <div class="ui top attached segment">
        <h2 class="ui header" th:text="${data.pDiscuss.title}">Dogs Roles with Humans</h2>
        <p th:text="${data.pDiscuss.content}"></p>
      </div>

      <!--content-->
      <div class="ui attached segment">
        <div class="ui threaded comments">
          <h3 class="ui dividing header">讨论区</h3>
          <div class="comment" th:each="discuss: ${data.sDiscuss}">
            <a class="avatar">
              <img th:src="${discuss.user.avatar}">
            </a>
            <div class="content">
              <a class="author" th:text="${discuss.user.nickname}">Joe Henderson</a>
              <div class="metadata">
                <span class="date" th:text="${discuss.createTime}">5 天以前</span>
              </div>
              <div class="text" th:text="${discuss.content}">老兄，这太棒了。非常感谢。 </div>
            </div>
            <div class="actions" th:if="${discuss.userId == session.user.id}">
              <a class="reply"  th:href="@{'/admin/discussManage/delete/' + ${discuss.parentId} + '/' + ${discuss.id}}" id="delete-discuss">删除</a>
            </div>
          </div>
          <form id="discuss-form" class="ui reply form" method="post" action="#" th:action="@{/admin/discussManage/input}">
            <div class="field">
              <textarea name="content" th:text="*{content}"></textarea>
            </div>
            <div style="display: none">
              <input name="parentId" th:value="${data.pDiscuss.id}">
            </div>
            <button class="ui blue labeled submit icon button" id="sub-content">
              <i class="icon edit"></i> 我要讨论
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<!--底部-->
<footer th:replace="_fragments :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.wechat').popup({
    popup : $('.wechat-qr'),
    on : 'hover',
    position : 'bottom center'
  });

  // 提交表单
  $('#sub-content').click(function (){
    $('#discuss-form').submit();
  });

</script>

</body>
</html>