<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.felix.forum.dao.DiscussRepository">

    <resultMap id="discussMap" type="com.felix.forum.po.Discuss">
        <id column="id" property="id"/>
        <result column="content" property="content" />
        <result column="title" property="title" />
        <result column="create_time" property="createTime" />
        <result column="parent_id" property="parentId" />
        <result column="user_id" property="userId" />
        <association column="user_id" property="user" javaType="com.felix.forum.po.User" select="com.felix.forum.dao.UserRepository.getu" >
<!--            <id column="id" property="id"/>-->
<!--            <result column="nickname" property="nickname" />-->
<!--            <result column="avatar" property="avatar" />-->
        </association>
    </resultMap>

    <select id="findDiscusses" resultMap="discussMap">
        select *
        from t_discuss
        where 1=1
            <if test="parentId != null and parentId != ''"> and `parent_id` = #{parentId} </if>
            <if test="userId != null and userId != ''"> and `user_id` = #{userId} </if>
        <if test="sort != null and direction != null">
            ORDER BY #{sort} #{direction}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>

    </select>

    <select id="findDiscussById" resultMap="discussMap">
        select *
        from t_discuss
        where id = #{id}
    </select>

    <insert id="saveDiscuss" parameterType="com.felix.forum.po.Discuss" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_discuss
        (
            content,title,parent_id,user_id,create_time
        )
        VALUES
            (#{content}, #{title}, #{parentId}, #{userId},now())
    </insert>

    <delete id="remove">
        delete from t_discuss where id = #{id}
    </delete>

    <select id="count" resultType="int">
        select count(*) from t_discuss
        where 1=1
            <if test="parentId != null and parentId != ''"> and `parent_id` = #{parentId} </if>
            <if test="userId != null and userId != ''"> and `user_id` = #{userId} </if>
    </select>

</mapper>