<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.felix.forum.dao.UserRepository">


	<select id="findByUsernameAndPassword" resultType="com.felix.forum.po.User">
		select *  from t_user  where username = #{username} and password = #{password}
	</select>


	<select id="getu" resultType="com.felix.forum.po.User">
		select * from t_user where id=#{id}
	</select>

	<select id="getUsername" resultType="com.felix.forum.po.User">
		select *  from t_user  where username = #{username}
	</select>

	<insert id="insertUser" >
		insert into t_user(username,password,create_time,nickname,role,email,update_time)
		values(#{username},#{password},#{createTime},#{nickname},#{role},#{email},#{updateTime})
	</insert>

	<select id="count" resultType="int">
		select  count(*) from t_user where role="user";
	</select>


	<select id="listUser" resultType="com.felix.forum.po.User">
		select *  from t_user
		where 1=1
		<if test="username != null and username != ''"> and `username` like  concat('%',#{username},'%')</if>
		<if test="nickname != null and nickname != ''"> and  `nickname` like  concat('%',#{nickname},'%') </if>
		<if test="email != null and email != ''"> and  `email` like  concat('%',#{email},'%') </if>
		and role="user"
		<if test="offset != null and limit != null">
			limit ${offset}, ${limit}
		</if>
	</select>

	<delete id="deleteUser">
		delete from t_user where id = #{id}
	</delete>
</mapper>